:root{
    --base-font-color: #bebebe;
    --base-bg-color: #171923;
}

html,body{
    font-size: 15px !important;
    height: 100% !important;
    font-weight: 400;
    line-height: 25px !important;
    color: var(--base-font-color);
    background-color: var(--base-bg-color);
    text-align: left;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

.form-control{
    font-weight: 500;
}

.powered-by{
    height: 25px;
}